# POKY_BBLAYERS_CONF_VERSION is increased each time build/conf/bblayers.conf
# changes incompatibly
POKY_BBLAYERS_CONF_VERSION = "2"

BBPATH = "${TOPDIR}"
BBFILES ?= ""

BBLAYERS ?= " \
    /${HOME}/poky-nanbield/meta \
    /${HOME}/poky-nanbield/meta-poky \
    /${HOME}/poky-nanbield/meta-openembedded/meta-oe \
    /${HOME}/poky-nanbield/meta-openembedded/meta-multimedia \
    /${HOME}/poky-nanbield/meta-openembedded/meta-networking \
    /${HOME}/poky-nanbield/meta-openembedded/meta-python \
    /${HOME}/poky-nanbield/meta-raspberrypi \
    /${HOME}/poky-nanbield/meta-security \
    /${HOME}/rpi/meta-rpi \
"
