# POKY_BBLAYERS_CONF_VERSION is increased each time build/conf/bblayers.conf
# changes incompatibly
POKY_BBLAYERS_CONF_VERSION = "2"

BBPATH = "${TOPDIR}"
BBFILES ?= ""

BBLAYERS ?= " \
    ${HOME}/poky-dunfell/meta \
    ${HOME}/poky-dunfell/meta-poky \
    ${HOME}/poky-dunfell/meta-openembedded/meta-oe \
    ${HOME}/poky-dunfell/meta-openembedded/meta-multimedia \
    ${HOME}/poky-dunfell/meta-openembedded/meta-networking \
    ${HOME}/poky-dunfell/meta-openembedded/meta-perl \
    ${HOME}/poky-dunfell/meta-openembedded/meta-python \
    ${HOME}/poky-dunfell/meta-qt5 \
    ${HOME}/poky-dunfell/meta-raspberrypi \
    ${HOME}/poky-dunfell/meta-security \
    ${HOME}/poky-dunfell/meta-jumpnow \
    ${HOME}/rpi/meta-rpi \
"
