# Local configuration for meta-rpi images
# Yocto Project 5.1 Poky distribution [styhead] branch

LICENSE_FLAGS_ACCEPTED = "commercial synaptic-killswitch"

DISTRO_FEATURES = "ext2 opengl security systemd usbhost ${DISTRO_FEATURES_LIBC}"

DISTRO_FEATURES_BACKFILL_CONSIDERED += "sysvinit"

DISTRO_FEATURES:remove = "ptest"

INIT_MANAGER = "systemd"

MACHINE_FEATURES:remove = "apm vfat"

IMAGE_FSTYPES = "tar.xz"

MACHINE = "raspberrypi3"

KERNEL_IMAGETYPE = "zImage"

DISABLE_VC4GRAPHICS = "1"
DISABLE_OVERSCAN = "1"

#DL_DIR = "/src/styhead"
#SSTATE_DIR = "/oe1/rpi/sstate-cache"
#TMPDIR = "/oe1/rpi/tmp"

DISTRO = "poky"
PACKAGE_CLASSES = "package_ipk"

# i686 or x86_64
SDKMACHINE = "x86_64"

# for no root passwd
EXTRA_IMAGE_FEATURES = "debug-tweaks"

PATCHRESOLVE = "noop"
RM_OLD_IMAGE = "1"
INHERIT += "rm_work"
CONF_VERSION = "2"
